node_modules/
*.env
#!sample.dev.env
#!sample.env

.vscode/

/build/
/config*.json
!/config.default.json
/logs/

# Docker-specific
compose.y*ml
Dockerfile
.dockerignore
eslint.config.mjs
.git*
.prettier*
README.md
